In [19]:
import pandas as pd

In [20]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [21]:
say_hello()

Hello!

In [22]:
def say_something(something):
    print(something)

In [23]:
say_something("Pikachu")

Pikachu

In [24]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [25]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [26]:
passing_math_percent(29370,39170)

74.9808526933878

In [27]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [29]:
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [30]:
my_grades.map({"B" : "A", "C" : "B" , "D" : "C"})

0    A
1    B
2    A
3    C
dtype: object

In [32]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.1f}".format(grade))

92.3
84.6
86.8
98.3

In [34]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [35]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object